<div class="row">
  <div class="col-12">
    <p><b>Añadir artículo por código </b>
      <a class="text-decoration-none" #tooltip="matTooltip"
         matTooltip= "{{msnt}}"
         matTooltipPosition="above"
         aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
        </svg>
      </a>
    </p>
    <div class="input-group mb-12" [formGroup]="searchForm">
      <input formControlName="code" (keypress)="keyPress($event)" type="text" class="form-control input-lg" data-role="tagsinput" placeholder="Ej.: 80265472, 98564528..." aria-label="Ej.: 80265472, 98564528..." aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="search()" [disabled]="!searchForm.valid" type="button"><b>AÑADIR</b></button>
      </div>
    </div>
    <div class="fv-plugins-message-container" *ngIf="isControlHasError('code', 'required')">Este campo es requerido*</div>
    <div class="fv-plugins-message-container" *ngIf="isControlHasError('code', 'minLength')">Debe contemplar un minimo de 8 caracteres*</div>
    <div class="fv-plugins-message-container" *ngIf="isControlHasError('code', 'pattern')">Formato invalido*</div>
    <br>

  </div>
</div>

